# RFP: Targeted Taco Bell Ads

## Project Overview
You are invited to submit a proposal that answers the following question:

### What ad will you create and why?

*Please submit your proposal by **1/30/25 at 11:59 PM**.*

## Required Proposal Components

### 1. Data Description
In the code cell below, read in the data you will need to train and test your model. Call `info()` once you have read the data into a dataframe. Consider using some or all of the following sources:
- [Customer Demographics](https://drive.google.com/file/d/1HK42Oa3bhhRDWR1y1wVBDAQ2tbNwg1gS/view?usp=sharing)
- [Ad Response Data](https://drive.google.com/file/d/1cuLqXPNKhP66m5BP9BAlci2G--Vopt-Z/view?usp=sharing)

*Note, a level 5 dataset combines these two data sets.*

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('customer_data.csv')

In [3]:
df

      customer_id state sex   age    occupation  family_size  income
0            9167    MO   F  42.0  Food Service            1   40343
1             531    MI   F  36.0        Retail            4   41730
2            2265    CA   F  25.0            IT            0   84024
3            7550    VA   M  38.0  Food Service            2   38990
4            5334    MT   M  35.0  Food Service            1   33400
...           ...   ...  ..   ...           ...          ...     ...
9995         3616    AL   F  47.0    Healthcare            3  143571
9996         7670    NY   M  30.0        Retail            2   37865
9997         7248    MO   F  42.0    Government            3   96691
9998         7699    AZ   F  26.0    Government            1   62191
9999         2112    OH   M  35.0         Other            2   53155

[10000 rows x 7 columns]

### 2. Training Your Model
In the cell seen below, write the code you need to train a K-means clustering model. Make sure you describe the center of each cluster found.

*Note, level 5 work uses at least 3 features to train a K-means model using only the standard Python library and Pandas. A level 4 uses external libraries like scikit or numpy.*

In [3]:
# Train model here.

#### Don't forget to describe the centers of the clusters you found.

### 3. Testing Your Model
In the cell seen below, write the code you need to test your K-means model. Then, interpret your findings.

*Note, level 5 testing uses both an elbow plot and a silhouette score to evaluate your model. Level 4 uses one or the other.*

In [2]:
# Test model here.

#### Interpret your elbow plot and/or silhouette score here.

### 4. Final Answer

In the first cell seen below, describe the cluster you have chosen to target with your ad, making sure to describe the type of ad they were the most likely to respond to. Then, use software of your choosing to create the ad you will need to target this cluster. You do not need to create an ad for both the nacho fries and the Baja Blast. You can focus on one if that's what your cluster cares about most.

In the second cell seen below, include a link to your ad.

*Note, a level 5 ad uses the medium (static image or video) the cluster most likely responded to.*

#### Describe the cluster you are targeting here.

#### Link your ad here.