# RFP: Targeted Taco Bell Ads

## Project Overview
You are invited to submit a proposal that answers the following question:

### What ad will you create and why?

*Please submit your proposal by **1/30/25 at 11:59 PM**.*

## Required Proposal Components

### 1. Data Description
In the code cell below, read in the data you will need to train and test your model. Call `info()` once you have read the data into a dataframe. Consider using some or all of the following sources:
- [Customer Demographics](https://drive.google.com/file/d/1HK42Oa3bhhRDWR1y1wVBDAQ2tbNwg1gS/view?usp=sharing)
- [Ad Response Data](https://drive.google.com/file/d/1cuLqXPNKhP66m5BP9BAlci2G--Vopt-Z/view?usp=sharing)

*Note, a level 5 dataset combines these two data sets.*

In [1]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv('customer_data.csv')
df1=pd.read_csv('ad_data.csv')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  10000 non-null  int64
 1   state        10000 non-null  object
 2   sex          10000 non-null  object
 3   age          10000 non-null  float64
 4   occupation   10000 non-null  object
 5   family_size  10000 non-null  int64
 6   income       10000 non-null  int64
dtypes: float64(1), int64(3), object(3)
memory usage: 547.0+ KB

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       10000 non-null  int64
 1   ad_type           10000 non-null  object
 2   ad_medium         10000 non-null  object
 3   ad_response       10000 non-null  bool
 4   items_purchased   10000 non-null  object
 5   drinks_purchased  10000 non-null  object
dtypes: bool(1), int64(1), object(4)
memory usage: 400.5+ KB

In [7]:
df= pd.merge(df,df1,on='customer_id',how='inner')

In [8]:
df

,customer_id,state,sex,age,occupation,family_size,income,ad_type,ad_medium,ad_response,items_purchased,drinks_purchased
0,9167,MO,F,42.0,Food Service,1,40343,DISCOUNT-20%,Instagram photo ad,True,"['mexican pizza', 'chicken quesadilla']","['mountain dew', 'mug root beer']"
1,531,MI,F,36.0,Retail,4,41730,DISCOUNT-10%,Instagram photo ad,False,"['steak garlic nacho fries', 'crunchy taco', '...","['mug root beer', 'iced tea', 'starry', 'iced ..."
2,2265,CA,F,25.0,IT,0,84024,DISCOUNT-20%,15 sec YouTube ad,False,['chicken quesadilla'],['mug root beer']
3,7550,VA,M,38.0,Food Service,2,38990,BOGO - Garlic Steak Nacho Fries,15 sec YouTube ad,True,"['steak garlic nacho fries', 'steak garlic nac...","['pepsi', 'diet pepsi', 'diet pepsi']"
4,5334,MT,M,35.0,Food Service,1,33400,DISCOUNT-20%,15 sec YouTube ad,False,"['spicy potato soft taco', 'nachos bellgrande']","['gatorade', 'baja blast']"
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,3616,AL,F,47.0,Healthcare,3,143571,DISCOUNT-10%,30 sec Hulu commercial,False,"['chicken quesadilla', 'steak garlic nacho fri...","['baja blast', 'baja blast', 'gatorade', 'iced..."
9996,7670,NY,M,30.0,Retail,2,37865,DISCOUNT-5%,15 sec YouTube ad,False,"['soft taco', 'chicken quesadilla', 'steak gar...","['gatorade', 'iced tea', 'mug root beer']"
9997,7248,MO,F,42.0,Government,3,96691,BOGO - Garlic Steak Nacho Fries,15 sec YouTube ad,True,"['steak garlic nacho fries', 'steak garlic nac...","['diet pepsi', 'iced tea', 'baja blast', 'brisk']"
9998,7699,AZ,F,26.0,Government,1,62191,BOGO - Baja Blast,15 sec YouTube ad,True,"['spicy potato soft taco', 'crunchy taco']","['baja blast', 'baja blast']"
9999,2112,OH,M,35.0,Other,2,53155,REWARD - Free Baja Blast with purchase of $20 ...,Instagram photo ad,False,"['crunchwrap supreme', 'chicken quesadilla', '...","['brisk', 'gatorade', 'brisk']"

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       10000 non-null  int64
 1   state             10000 non-null  object
 2   sex               10000 non-null  object
 3   age               10000 non-null  float64
 4   occupation        10000 non-null  object
 5   family_size       10000 non-null  int64
 6   income            10000 non-null  int64
 7   ad_type           10000 non-null  object
 8   ad_medium         10000 non-null  object
 9   ad_response       10000 non-null  bool
 10  items_purchased   10000 non-null  object
 11  drinks_purchased  10000 non-null  object
dtypes: bool(1), float64(1), int64(3), object(7)
memory usage: 947.3+ KB

### 2. Training Your Model
In the cell seen below, write the code you need to train a K-means clustering model. Make sure you describe the center of each cluster found.

*Note, level 5 work uses at least 3 features to train a K-means model using only the standard Python library and Pandas. A level 4 uses external libraries like scikit or numpy.*

In [3]:
# Train model here.

#### Don't forget to describe the centers of the clusters you found.

### 3. Testing Your Model
In the cell seen below, write the code you need to test your K-means model. Then, interpret your findings.

*Note, level 5 testing uses both an elbow plot and a silhouette score to evaluate your model. Level 4 uses one or the other.*

In [2]:
# Test model here.

#### Interpret your elbow plot and/or silhouette score here.

### 4. Final Answer

In the first cell seen below, describe the cluster you have chosen to target with your ad, making sure to describe the type of ad they were the most likely to respond to. Then, use software of your choosing to create the ad you will need to target this cluster. You do not need to create an ad for both the nacho fries and the Baja Blast. You can focus on one if that's what your cluster cares about most.

In the second cell seen below, include a link to your ad.

*Note, a level 5 ad uses the medium (static image or video) the cluster most likely responded to.*

#### Describe the cluster you are targeting here.

#### Link your ad here.