# RFP: Betting on the Bachelor

## Project Overview
You are invited to submit a proposal that answers the following question:

### Who will win season 29 of the Bachelor?

*All proposals must be submitted by **1/15/25 at 11:59 PM**.*

## Required Proposal Components

### 1. Data Description
In the code cell below, read in the data you plan on using to train and test your model. Call `info()` once you have read the data into a dataframe. Consider using some or all of the following sources:
- [Scrape Fandom Wikis](https://bachelor-nation.fandom.com/wiki/The_Bachelor) or [the official Bachelor website]('https://bachelornation.com/shows/the-bachelor/')
- [Ask ChatGPT to genereate it](https://chatgpt.com/)
- [Read in csv files like this](https://www.kaggle.com/datasets/brianbgonz/the-bachelor-contestants?select=contestants.csv)

*Note, a level 5 dataset contains at least 1000 rows of non-null data. A level 4 contains at least 500 rows of non-null data.*

In [3]:
# Read data into a dataframe.
# Don't forget to call info()!

In [58]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import random

In [59]:
to = []
ti=[]

In [60]:
total_page = 1
count=0
for page in range(1, 2):
    url = f"https://bachelor-nation.fandom.com/wiki/The_Bachelor_(Season_{page})"
    response = requests.get(url)
    soup = BeautifulSoup(response.content, "html.parser")
    to.append(soup)

In [77]:
for soup in to:
    titles = soup.find_all('td')
    for title in titles:
        ti.append(title.get_text(strip=True))

In [78]:
df = pd.DataFrame(ti, columns=['Name'])

In [79]:
df

                Name
0                N/A
1           Season 2
2       Amanda Marsh
3                 23
4    Chanute, Kansas
..               ...
222        Follow Us
223         Overview
224        Community
225        Advertise
226      Fandom Apps

[227 rows x 1 columns]

In [80]:
df1 = pd.read_csv('contestants.csv')

In [82]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 423 entries, 0 to 422
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        423 non-null    object
 1   Age         422 non-null    float64
 2   Occupation  423 non-null    object
 3   Hometown    423 non-null    object
 4   Height      30 non-null     float64
 5   ElimWeek    406 non-null    float64
 6   Season      423 non-null    int64
dtypes: float64(3), int64(1), object(3)
memory usage: 23.3+ KB

### 2. Training Your Model
In the cell seen below, write the code you need to train a linear regression model. Make sure you display the equation of the plane that best fits your chosen data at the end of your program. 

*Note, level 5 work trains a model using only the standard Python library and Pandas. A level 5 model is trained with at least two features, where one of the features begins as a categorical value (e.g. occupation, hometown, etc.). A level 4 uses external libraries like scikit or numpy.*

In [83]:
import numpy as np
from sklearn.linear_model import LinearRegression

### 3. Testing Your Model
In the cell seen below, write the code you need to test your linear regression model. 

*Note, a model is considered a level 5 if it achieves at least 60% prediction accuracy or achieves an RMSE of 2 weeks or less.*

In [2]:
# Test model here.

### 4. Final Answer

In the first cell seen below, state the name of your predicted winner. 
In the second cell seen below, justify your prediction using an evaluation technique like RMSE or percent accuracy.

#### State the name of your predicted winner here.

#### Justify your prediction here.