# RFP: Betting on the Bachelor

## Project Overview
You are invited to submit a proposal that answers the following question:

### Who will win season 29 of the Bachelor?

*All proposals must be submitted by **1/15/25 at 11:59 PM**.*

## Required Proposal Components

### 1. Data Description
In the code cell below, read in the data you plan on using to train and test your model. Call `info()` once you have read the data into a dataframe. Consider using some or all of the following sources:
- [Scrape Fandom Wikis](https://bachelor-nation.fandom.com/wiki/The_Bachelor) or [the official Bachelor website]('https://bachelornation.com/shows/the-bachelor/')
- [Ask ChatGPT to genereate it](https://chatgpt.com/)
- [Read in csv files like this](https://www.kaggle.com/datasets/brianbgonz/the-bachelor-contestants?select=contestants.csv)

*Note, a level 5 dataset contains at least 1000 rows of non-null data. A level 4 contains at least 500 rows of non-null data.*

In [3]:
# Read data into a dataframe.
# Don't forget to call info()!

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import random

In [89]:

to = []
ti=[]

In [91]:

total_page = 1
count=0
for page in range(1, 2):
    url = f"https://en.wikipedia.org/wiki/The_Bachelor_(American_TV_series)_season_{page}"
    response = requests.get(url)
    soup = BeautifulSoup(response.content, "html.parser")
    to.append(soup)

In [93]:

for soup in to:
    titles = soup.find_all('td')
    for title in titles:
        ti.append(title.get_text(strip=True))

In [95]:

df = pd.DataFrame(ti, columns=['Name'])

In [97]:

df

                                                  Name
0                                             Season 1
1                                   Promotional poster
2                                          Alex Michel
3
4                                       Chris Harrison
..                                                 ...
265  The BachelorAustralia1Tim Robards2345Matty Joh...
266  Australia1Tim Robards2345Matty Johnson6Nick Cu...
267  Australia1(Sam Frost)23(Sophie Monk)45(Angie K...
268                               Australia123Canada12
269                               The Bachelorand race

[270 rows x 1 columns]

In [11]:
df1 = pd.read_csv('contestants.csv')

In [13]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 423 entries, 0 to 422
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        423 non-null    object
 1   Age         422 non-null    float64
 2   Occupation  423 non-null    object
 3   Hometown    423 non-null    object
 4   Height      30 non-null     float64
 5   ElimWeek    406 non-null    float64
 6   Season      423 non-null    int64
dtypes: float64(3), int64(1), object(3)
memory usage: 23.3+ KB

In [15]:
df1

,Name,Age,Occupation,Hometown,Height,ElimWeek,Season
0,Amanda Marsh,23.0,Event Planner,"Chanute, Kansas",NaN,NaN,1
1,Trista Rehn,29.0,Miami Heat Dancer,"Miami, Florida",NaN,6.0,1
2,Shannon Oliver,24.0,Financial Management Consultant,"Dallas, Texas",NaN,5.0,1
3,Kim,24.0,Nanny,"Tempe, Arizona",NaN,4.0,1
4,Cathy Grimes,22.0,Graduate Student,"Terra Haute, Indiana",NaN,3.0,1
...,...,...,...,...,...,...,...
418,Sarah,26.0,Grade School Teacher,"Newport Beach, CA",65.0,4.0,21
419,Susannah,26.0,Account Manager,"San Diego, CA",66.0,1.0,21
420,Taylor,23.0,Mental Health Counselor,"Seattle, WA",64.0,5.0,21
421,Vanessa,29.0,Special Education Teacher,"Montreal, Quebec, Canada",63.5,NaN,21
422,Whitney,25.0,Pilates Instructor,"Chanhassen, MN",68.0,6.0,21

In [17]:
df1.drop('Height', axis=1,inplace=True)

In [21]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 423 entries, 0 to 422
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        423 non-null    object
 1   Age         422 non-null    float64
 2   Occupation  423 non-null    object
 3   Hometown    423 non-null    object
 4   ElimWeek    406 non-null    float64
 5   Season      423 non-null    int64
dtypes: float64(2), int64(1), object(3)
memory usage: 20.0+ KB

In [23]:
df1['ElimWeek'].max()

10.0

In [25]:
df1['ElimWeek'].fillna(11,inplace=True)

In [29]:
df1 = df1.dropna()

In [31]:
df1['Age'].min()

21.0

In [33]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 422 entries, 0 to 422
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        422 non-null    object
 1   Age         422 non-null    float64
 2   Occupation  422 non-null    object
 3   Hometown    422 non-null    object
 4   ElimWeek    422 non-null    float64
 5   Season      422 non-null    int64
dtypes: float64(2), int64(1), object(3)
memory usage: 23.1+ KB

In [47]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 422 entries, 0 to 422
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        422 non-null    object
 1   Age         422 non-null    int64
 2   Occupation  422 non-null    object
 3   Hometown    422 non-null    object
 4   ElimWeek    422 non-null    float64
 5   Season      422 non-null    int64
dtypes: float64(1), int64(2), object(3)
memory usage: 23.1+ KB

### 2. Training Your Model
In the cell seen below, write the code you need to train a linear regression model. Make sure you display the equation of the plane that best fits your chosen data at the end of your program. 

*Note, level 5 work trains a model using only the standard Python library and Pandas. A level 5 model is trained with at least two features, where one of the features begins as a categorical value (e.g. occupation, hometown, etc.). A level 4 uses external libraries like scikit or numpy.*

In [37]:
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [38]:
X = df1[["Age"]]
y = df1["ElimWeek"]

In [41]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [43]:
modl=LinearRegression()
modl.fit(X_train,y_train)

LinearRegression()

In [45]:
slope = modl.coef_[0]
intercept = modl.intercept_
print(slope, intercept)

-0.034889960103505875 4.310885425230855

### 3. Testing Your Model
In the cell seen below, write the code you need to test your linear regression model. 

*Note, a model is considered a level 5 if it achieves at least 60% prediction accuracy or achieves an RMSE of 2 weeks or less.*

In [2]:
# Test model here.

In [101]:
modl.predict(X_test)

array([3.33396654, 3.43863642, 3.15951674, 3.50841634, 3.40374646,
       3.40374646, 3.40374646, 3.43863642, 3.26418662, 3.40374646,
       3.43863642, 3.12462678, 3.43863642, 3.26418662, 3.43863642,
       3.43863642, 3.33396654, 3.26418662, 3.43863642, 3.43863642,
       3.40374646, 3.40374646, 3.29907658, 3.40374646, 3.33396654,
       3.26418662, 3.43863642, 3.43863642, 3.40374646, 3.50841634,
       3.43863642, 3.29907658, 3.43863642, 3.40374646, 3.43863642,
       3.29907658, 3.29907658, 3.3688565 , 3.26418662, 3.43863642,
       3.47352638, 3.50841634, 3.40374646, 3.5433063 , 3.40374646,
       3.50841634, 3.22929666, 3.43863642, 3.50841634, 3.29907658,
       3.47352638, 3.3688565 , 3.50841634, 3.22929666, 3.47352638,
       3.12462678, 3.08973682, 3.26418662, 3.43863642, 3.33396654,
       3.43863642, 3.50841634, 3.3688565 , 3.33396654, 3.26418662,
       3.40374646, 3.47352638, 3.29907658, 3.40374646, 3.47352638,
       3.5433063 , 3.33396654, 3.43863642, 3.3688565 , 3.47352638,
       3.26418662, 3.40374646, 3.43863642, 3.29907658, 3.47352638,
       3.47352638, 3.47352638, 3.40374646, 3.26418662, 3.47352638,
       3.29907658, 3.50841634, 3.26418662, 3.40374646, 3.43863642,
       3.29907658, 3.3688565 , 3.43863642, 3.43863642, 3.29907658,
       3.33396654, 3.5433063 , 3.40374646, 3.50841634, 3.50841634,
       3.33396654, 3.26418662, 3.26418662, 3.40374646, 3.33396654,
       3.47352638, 3.5433063 , 3.33396654, 3.40374646, 3.40374646,
       3.40374646, 3.3688565 , 3.40374646, 3.47352638, 3.29907658,
       3.43863642, 3.3688565 , 3.29907658, 3.50841634, 3.5433063 ,
       3.33396654, 3.47352638, 3.40374646, 3.40374646, 3.40374646,
       3.43863642, 3.33396654])

/opt/conda/envs/anaconda-ai-2024.04-py310/lib/python3.10/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

ValueError: Expected 2D array, got 1D array instead:
array=[ 1. 10.  1.  6.  1.  1.  4.  3.  4.  1.  1.  1.  6.  1.  1.  1.  2.  1.
  1.  7.  1.  4.  3.  9.  4.  2.  3.  2.  3.  4.  2.  1.  4.  1. 11.  4.
  1.  2.  1.  6. 11.  7.  4.  3.  2.  4.  1.  3.  7.  1.  5.  5. 11.  1.
  9.  1.  1.  1.  6.  3.  1.  6. 11.  2.  1.  7.  5.  1.  1.  5.  1.  6.
  3.  2.  1.  1.  8.  1.  6.  7.  3.  1.  1.  1.  2.  5.  3.  2.  6.  5.
 11.  7.  1.  6.  3.  3.  1. 11.  2.  2.  5.  1.  1.  1.  1.  4.  1.  1.
  2.  7.  6.  2.  3.  7.  7.  8.  2. 11.  2.  7.  3.  1.  1.  4. 11.  1.
  4.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

### 4. Final Answer

In the first cell seen below, state the name of your predicted winner. 
In the second cell seen below, justify your prediction using an evaluation technique like RMSE or percent accuracy.

#### State the name of your predicted winner here.

#### Justify your prediction here.