# RFP: Betting on the Bachelor

## Project Overview
You are invited to submit a proposal that answers the following question:

### Who will win season 29 of the Bachelor?

*All proposals must be submitted by **1/15/25 at 11:59 PM**.*

## Required Proposal Components

### 1. Data Description
In the code cell below, read in the data you plan on using to train and test your model. Call `info()` once you have read the data into a dataframe. Consider using some or all of the following sources:
- [Scrape Fandom Wikis](https://bachelor-nation.fandom.com/wiki/The_Bachelor) or [the official Bachelor website]('https://bachelornation.com/shows/the-bachelor/')
- [Ask ChatGPT to genereate it](https://chatgpt.com/)
- [Read in csv files like this](https://www.kaggle.com/datasets/brianbgonz/the-bachelor-contestants?select=contestants.csv)

*Note, a level 5 dataset contains at least 1000 rows of non-null data. A level 4 contains at least 500 rows of non-null data.*

In [3]:
# Read data into a dataframe.
# Don't forget to call info()!

In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import random

In [89]:

to = []
ti=[]

In [91]:

total_page = 1
count=0
for page in range(1, 2):
    url = f"https://en.wikipedia.org/wiki/The_Bachelor_(American_TV_series)_season_{page}"
    response = requests.get(url)
    soup = BeautifulSoup(response.content, "html.parser")
    to.append(soup)

In [93]:

for soup in to:
    titles = soup.find_all('td')
    for title in titles:
        ti.append(title.get_text(strip=True))

In [95]:

df = pd.DataFrame(ti, columns=['Name'])

In [97]:

df

                                                  Name
0                                             Season 1
1                                   Promotional poster
2                                          Alex Michel
3
4                                       Chris Harrison
..                                                 ...
265  The BachelorAustralia1Tim Robards2345Matty Joh...
266  Australia1Tim Robards2345Matty Johnson6Nick Cu...
267  Australia1(Sam Frost)23(Sophie Monk)45(Angie K...
268                               Australia123Canada12
269                               The Bachelorand race

[270 rows x 1 columns]

In [11]:
df1 = pd.read_csv('contestants.csv')

In [13]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 423 entries, 0 to 422
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        423 non-null    object
 1   Age         422 non-null    float64
 2   Occupation  423 non-null    object
 3   Hometown    423 non-null    object
 4   Height      30 non-null     float64
 5   ElimWeek    406 non-null    float64
 6   Season      423 non-null    int64
dtypes: float64(3), int64(1), object(3)
memory usage: 23.3+ KB

In [15]:
df1

,Name,Age,Occupation,Hometown,Height,ElimWeek,Season
0,Amanda Marsh,23.0,Event Planner,"Chanute, Kansas",NaN,NaN,1
1,Trista Rehn,29.0,Miami Heat Dancer,"Miami, Florida",NaN,6.0,1
2,Shannon Oliver,24.0,Financial Management Consultant,"Dallas, Texas",NaN,5.0,1
3,Kim,24.0,Nanny,"Tempe, Arizona",NaN,4.0,1
4,Cathy Grimes,22.0,Graduate Student,"Terra Haute, Indiana",NaN,3.0,1
...,...,...,...,...,...,...,...
418,Sarah,26.0,Grade School Teacher,"Newport Beach, CA",65.0,4.0,21
419,Susannah,26.0,Account Manager,"San Diego, CA",66.0,1.0,21
420,Taylor,23.0,Mental Health Counselor,"Seattle, WA",64.0,5.0,21
421,Vanessa,29.0,Special Education Teacher,"Montreal, Quebec, Canada",63.5,NaN,21
422,Whitney,25.0,Pilates Instructor,"Chanhassen, MN",68.0,6.0,21

In [17]:
df1.drop('Height', axis=1,inplace=True)

In [21]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 423 entries, 0 to 422
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        423 non-null    object
 1   Age         422 non-null    float64
 2   Occupation  423 non-null    object
 3   Hometown    423 non-null    object
 4   ElimWeek    406 non-null    float64
 5   Season      423 non-null    int64
dtypes: float64(2), int64(1), object(3)
memory usage: 20.0+ KB

In [23]:
df1['ElimWeek'].max()

10.0

In [25]:
df1['ElimWeek'].fillna(11,inplace=True)

In [29]:
df1 = df1.dropna()

In [31]:
df1['Age'].min()

21.0

In [33]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 422 entries, 0 to 422
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        422 non-null    object
 1   Age         422 non-null    float64
 2   Occupation  422 non-null    object
 3   Hometown    422 non-null    object
 4   ElimWeek    422 non-null    float64
 5   Season      422 non-null    int64
dtypes: float64(2), int64(1), object(3)
memory usage: 23.1+ KB

In [47]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 422 entries, 0 to 422
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        422 non-null    object
 1   Age         422 non-null    int64
 2   Occupation  422 non-null    object
 3   Hometown    422 non-null    object
 4   ElimWeek    422 non-null    float64
 5   Season      422 non-null    int64
dtypes: float64(1), int64(2), object(3)
memory usage: 23.1+ KB

In [6]:
df2= pd.read_csv('contestants_level4.csv')

In [8]:
df2

,Unnamed: 0,Name,Age,Hometown,ElimWeek,Season,Region
0,0,Amanda Marsh,23.0,"Chanute, Kansas",11.0,1,4
1,1,Trista Rehn,29.0,"Miami, Florida",6.0,1,2
2,2,Shannon Oliver,24.0,"Dallas, Texas",5.0,1,2
3,3,Kim,24.0,"Tempe, Arizona",4.0,1,4
4,4,Cathy Grimes,22.0,"Terra Haute, Indiana",3.0,1,4
...,...,...,...,...,...,...,...
495,20,Kristina,27.0,"Brooklyn, New York",1.0,7,3
496,21,Kristine,23.0,"Fairfax Station, Virginia",1.0,7,2
497,22,Kyshawn,30.0,"Nashville, Tennessee",1.0,7,2
498,23,Siomara,25.0,"Chicago, Illinois",1.0,7,4
499,24,Valerie,28.0,"Wayne, New Jersey",1.0,7,3

In [12]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  500 non-null    int64
 1   Name        500 non-null    object
 2   Age         500 non-null    float64
 3   Hometown    500 non-null    object
 4   ElimWeek    500 non-null    float64
 5   Season      500 non-null    int64
 6   Region      500 non-null    int64
dtypes: float64(2), int64(3), object(2)
memory usage: 27.5+ KB

In [38]:
df2['Hometown'].unique()

array(['Chanute, Kansas', 'Miami, Florida', 'Dallas, Texas',
       'Tempe, Arizona', 'Terra Haute, Indiana', 'Bonita, California',
       'Los Angeles, California', 'Woodward, Oklahoma',
       'Beverly Hills, California', 'New York, New York',
       'Avondale, Arizona', 'Burbank, California',
       'Malden, Massachusetts', 'Plano, Texas', 'Seattle, Washington',
       'Honolulu, Hawaii', 'Pittsburgh, Pennsylvania',
       'Chicago, Illinois', 'Swansea, Massachusetts',
       'Eastchester, New York', 'Gloucester, New Jersey',
       'Albertville, Alabama', 'Philadelphia, Pennsylvania',
       'Kansas City, Missouri', 'Lake Oswego, Oregon', 'Boise, Idaho',
       'Walnut Creek, California', 'Midvale, Utah',
       'Long Island, New York', 'Westchester, Pennsylvania',
       'Redondo Beach, California', 'San Francisco, California',
       'Chapel Hill, North Carolina', 'Granite City, Illinois',
       'Houston, Texas', 'Long Beach, California',
       'Coral Gables, Florida', 'Forked River, New Jersey',
       'Richmond, Virginia', 'Huntington Beach, California',
       'Shawnee, Oklahoma', 'Midland, Texas', 'Atlanta, Georgia',
       'Ann Arbor, Michigan', 'Pleasant Grove, Utah', 'Pearsall, Texas',
       'Sacramento, California', 'Carrboro, North Carolina',
       'Scottsdale, Arizona', 'Gibson, North Carolina',
       'Pinetops, North Carolina', 'Quebec City,\xa0Quebec',
       'Sunriver, Oregon', 'San Diego, California', 'Dearborn, Michigan',
       'Ithaca, New York', 'Canton, Michigan', 'Madison, New Jersey',
       'Phillipsburg, New Jersey', 'Cincinnati, Ohio', 'Tulsa, Oklahoma',
       'Buffalo, New York', 'Sausalito, California',
       'Pembroke Pines, Florida', 'Carlsbad, California',
       'Portland, Oregon', 'Venice, Italy', 'Bloomingdale, Illinois',
       'Salt Lake City, Utah', 'Galveston, Texas',
       'Nelson, British Columbia', 'Newport Beach, California',
       'New Haven, Connecticut', 'St. Augustine, Florida', 'Richmond, VA',
       'Baltimore, MD', 'Biloxi, MS', 'San Diego, CA', 'Charlotte, NC',
       'Aliquippa, PA', 'New York, NY', 'Italy', 'Boca Raton, FL',
       'Cattaraugus, NY', 'Columbus, OH', 'Cincinnati, OH', 'Chicago, IL',
       'Palo Alto, California', 'Bethel, Connecticut',
       'Sugar Land, Texas', 'Overland Park, Kansas',
       'Ravenel, South Carolina', 'Charleston, SC', 'Folly Beach, SC',
       'Dallas, TX', 'Logansport, LA', 'La Vergne, Tennessee',
       'Southlake, TX', 'The Woodlands, TX', 'Boston, MA',
       'Birmingham, AL', 'Hilton Head Island, SC', 'Lake Forest, IL',
       'Bronx, NY', 'Minneapolis, MN', 'Tampa, FL', 'Cuyahoga Falls, OH',
       'Lawrence, KS', 'St. Louis Park, MN', 'Newnan, Georgia',
       'Wichita, Kansas', 'Washington, D.C.', 'Gurnee, Illinois',
       'Nashville, Tennessee', 'Lemon Grove, California',
       'Livonia, Michigan', "O'Fallon, Illinois", 'Georgetown, Texas',
       'South Brunswick, New Jersey', 'Tampa, Florida',
       'Lady Lake, Florida', 'Woodbridge, Connecticut',
       'Annapolis, Maryland', 'Westchester, New York',
       'Duncanville, Texas', 'St. Louis Park, Minnesota',
       'St. Charles, Illinois', 'Malibu, California', 'Durango, Colorado',
       'Niceville, Florida', 'Loveland, Colorado', 'Brooklyn, New York',
       'Holland, Michigan', 'Jacksonville Beach, Florida',
       'Hollywood, California', 'Suffield, Ohio', 'Stockton, California',
       'Venice, California', 'Dillsburg, Pennsylvania',
       'Oklahoma City, Oklahoma', 'Syracuse, New York',
       'LaFollette, Tennessee', 'Washington, D.C', 'Austin, Texas',
       'Laguna Niguel, California', 'Alamo, California',
       'Brookfield, Wisconsin', 'Peace River,\xa0Alberta',
       'Carlsbad,\xa0California', 'Huntsville,\xa0Alabama',
       'Marlboro,\xa0New Jersey', 'Sewickley,\xa0Pennsylvania',
       'Marshall,\xa0Missouri', 'Blue Island,\xa0Illinois',
       'Monroe,\xa0Connecticut', "Lee's Summit,\xa0Missouri",
       'Morton,\xa0Illinois', 'Recife,\xa0Pernambuco,\xa0Brazil',
       'Batavia,\xa0New York', 'Boise,\xa0Idaho', 'Phoenix,\xa0Arizona',
       'Mt. Carmel,\xa0Pennsylvania', 'Seattle,\xa0Washington',
       'Springfield,\xa0Massachusetts', 'Columbus,\xa0Ohio',
       'Calgary,\xa0Alberta', 'Southfield,\xa0Michigan',
       'Stockton,\xa0California', 'Orem,\xa0Utah',
       'Salt Lake City,\xa0Utah', 'Geneva,\xa0Florida',
       'Newberg,\xa0Oregon', 'New York,\xa0New York',
       'Williamstown,\xa0Massachusetts', 'Kissimmee,\xa0Florida',
       'North Potomac,\xa0Maryland', 'Oakville,\xa0Ontario',
       'Lexington,\xa0Kentucky', 'La Follette,\xa0Tennessee',
       'Imperial,\xa0Nebraska', 'San Bernardino,\xa0California',
       'Anaheim,\xa0California', 'Pittsburgh,\xa0Pennsylvania',
       'San Diego,\xa0California', 'Richmond,\xa0Virginia',
       'Galloway,\xa0Ohio', 'Winfield,\xa0Illinois',
       'Santa Rosa,\xa0California', 'Union,\xa0Kentucky',
       'West Chester,\xa0Ohio', 'Norman,\xa0Oklahoma',
       'Aurora,\xa0Colorado', 'Scottsdale,\xa0Arizona',
       'Morris,\xa0Illinois', 'Morgantown, West Virginia',
       'Mercer Island, Washington', 'Madawaska, Maine',
       'Chico, California', 'Woodinville, Washington',
       'Newport, Rhode Island', 'Columbus, Ohio', 'Ottawa,\xa0Kansas',
       'Mesa,\xa0Arizona', 'Ellerbe,\xa0North Carolina',
       'Plano,\xa0Texas', 'Princeton,\xa0New Jersey',
       'Quincy,\xa0Massachusetts', 'Orlando,\xa0Florida',
       'Denver,\xa0Colorado', 'Vail,\xa0Colorado',
       'Sherwood Park,\xa0Alberta', 'Westport,\xa0Connecticut',
       'Fullerton,\xa0California', 'Holland,\xa0Pennsylvania',
       'Davie,\xa0Florida', 'Frisco,\xa0Texas', 'Tampa,\xa0Florida',
       'Culpeper,\xa0Virginia', 'Dix Hills,\xa0New York',
       'Mission Viejo,\xa0California', 'Palos Hills,\xa0Illinois',
       'Saginaw,\xa0Michigan', 'Newcastle, Washington', 'Hurst,\xa0Texas',
       'Clarksville,\xa0Tennessee', 'Chapel Hill,\xa0North Carolina',
       'Southampton,\xa0Massachusetts', 'Dryden,\xa0New York',
       'Leawood,\xa0Kansas', 'Rutherfordton,\xa0North Carolina',
       'Cache,\xa0Oklahoma', 'Chicago,\xa0Illinois',
       'Yuba,\xa0California', 'Charlottesville,\xa0Virginia',
       'Newton,\xa0Massachusetts', 'Colorado Springs,\xa0Colorado',
       'Loveland,\xa0Ohio', 'Cincinnati,\xa0Ohio',
       'Port Coquitlam,\xa0British Columbia', 'Waverly,\xa0Nebraska',
       'Detroit,\xa0Michigan', 'San Gabriel,\xa0California',
       'Salyersville,\xa0Kentucky', 'London,\xa0England',
       'Massapequa Park, New York', 'Fort Bragg, North Carolina',
       'Northglenn, Colorado', 'Fort Smith, Arkansas',
       'Las Vegas, Nevada', 'Belmont, California',
       'Borrego Springs, California', 'Evergreen, Colorado',
       'Topeka, Kansas', 'Ormond Beach, Florida',
       'Bakersfield, California', 'Ruskin, Florida', 'Darien, Wisconsin',
       'Troutdale, Oregon', 'Clarksville, Tennessee', 'Sandy, Utah',
       'Woodstock, Illinois', 'Garner, North Carolina',
       'Macomb, Michigan', 'Chattanooga, Tennessee',
       'Agoura Hills, California', 'Stevenson Ranch, California',
       'Cranston, Rhode Island', 'Minnetonka, Minnesota',
       'Kearney, Missouri', 'Buckhead, Georgia',
       "Martha's Vineyard, Massachusetts", 'Lexington, Ohio',
       'Ottawa,\xa0Ontario', 'Iowa City, Iowa',
       'Shelby Charter Township, Michigan', 'Orland Park, Illinois',
       'Litchfield, Illinois', 'Conyers, Georgia',
       'Forty Fort, Pennsylvania', 'Aurora, Illinois',
       'Santa Barbara, California', 'Clermont, Florida',
       'Porto Alegre,\xa0Brazil', 'Apopka, Florida', 'Roanoke, Texas',
       'Rockford, Illinois', 'Antelope Acres, California',
       'Edmond, Oklahoma', 'Wagener, South Carolina',
       'Sutter, California', 'Louisville, Kentucky',
       'Shreveport, Louisiana', 'Leduc, Alberta', 'Gering, Nebraska',
       'Arlington, Texas', 'Wolcott Mills, Michigan',
       'Hudsonville, Michigan', 'Great Falls, Virginia',
       'Maple Valley, Washington', 'Indianapolis, Indiana',
       'Vinings, Georgia', 'Beaverton, Oregon',
       'Hasbrouck Heights, New Jersey', 'Howland, Ohio',
       'Kankakee, Illinois', 'Wellington, Florida', 'Algonquin, Illinois',
       'Hamilton, New Jersey', 'Windsor, Colorado', 'Wantagh, New York',
       'Fort Lauderdale, Florida', 'Lake in the Hills, Illinois',
       'Carpinteria, California', 'Temecula, California',
       'Brownsville, Kentucky', 'Provo, Utah',
       'Manhattan Beach, California', 'West Linn, Oregon', 'Hudson, Ohio',
       'Rancho Santa Margarita, California', 'Dexter, Michigan',
       'Bristol, Virginia', 'Greenwood Village, Colorado',
       'Lauderdale Lakes, Florida', 'Little Rock, Arkansas',
       'St. Albert, Alberta', 'Denver, Colorado',
       'New Smyrna Beach, Florida', 'Stillwater, Oklahoma',
       'Branford, Connecticut', 'Boca Raton, Florida',
       'Visalia, California', 'Redmond, Washington', 'Secaucus, NJ',
       'Greenville, SC', 'Salt Lake City, UT', 'Santa Monica, CA',
       'Tulsa, OK', 'Miami, FL', 'Los Angeles, CA', 'Nashville, TN',
       'Las Vegas, NV', 'Vancouver, British Columbia, Canada',
       'Harlingen, TX', 'New Orleans, LA', 'Tacoma, WA',
       'San Francisco, CA', 'Santa Cruz, CA', 'Lexington, KY',
       'Manhattan, NY', 'Naples, FL', 'Anchorage, AK', 'Hoxie, AR',
       'Newport Beach, CA', 'Seattle, WA', 'Montreal, Quebec, Canada',
       'Chanhassen, MN', 'Kalamazoo, Michigan', 'Bartlett, Tennessee',
       'Athens, Georgia', 'Brooklyn Park, Minnesota',
       'La Jolla, California', 'Poolesville, Maryland',
       'Mauldin, South Carolina', 'Corona, California',
       'Gainesville, Florida', 'Shreveport, Lousiana',
       'Wanwatosa, Wisconsin', 'Massillon, OH', 'Plano, TX',
       'Hermosa Beach, CA', 'St. Louis, MO', 'Denver, CO',
       'Key Largo, FL', 'Oklahoma City, OK', 'Windsor, Canada',
       'Hollywood, CA', 'Santa Barbara, CA', 'Beverly Hills, CA',
       'Chula Vista, CA', 'Austin, TX', 'Henderson, NV', 'Astoria, OR',
       'Tusla, OK', 'Pensacola, FL', 'West Palm Beach, FL',
       'Libertyville, IL', 'McKinney, Texas', 'Warwick, Rhode Island',
       'Edmonton, Alberta', 'Rockwell, Texas',
       'Woodland Hills, California', 'Minneapolis, Minnesota',
       'Tallahassee, Florida', 'New York City, New York',
       'Thornhill, Ontario', 'Orlando, Florida', 'Boston, Massachusetts',
       'Fairfax Station, Virginia', 'Wayne, New Jersey'], dtype=object)

In [42]:
df2['dis']= pd.factorize(df2['Hometown'])[0]

In [74]:
df2[df2['dis']==17]

,Unnamed: 0,Name,Age,Hometown,ElimWeek,Season,Region,dis
19,19,Jill,31.0,"Chicago, Illinois",1.0,1,4,17
82,82,Gina Clark,28.0,"Chicago, Illinois",3.0,9,4,17
88,88,Rosella Fratto,27.0,"Chicago, Illinois",1.0,9,4,17
143,143,Juli Gilliam,24.0,"Chicago, Illinois",1.0,11,4,17
174,174,Stacey Elza,26.0,"Chicago, Illinois",1.0,12,4,17
434,11,Kristi Houston,24.0,"Chicago, Illinois",2.0,4,4,17
440,17,Heather,24.0,"Chicago, Illinois",1.0,4,4,17
443,20,Leona,25.0,"Chicago, Illinois",1.0,4,4,17
444,21,Samentha,25.0,"Chicago, Illinois",1.0,4,4,17
485,10,Kerry,32.0,"Chicago, Illinois",2.0,7,4,17
490,15,Emilie,27.0,"Chicago, Illinois",1.0,7,4,17
498,23,Siomara,25.0,"Chicago, Illinois",1.0,7,4,17

### 2. Training Your Model
In the cell seen below, write the code you need to train a linear regression model. Make sure you display the equation of the plane that best fits your chosen data at the end of your program. 

*Note, level 5 work trains a model using only the standard Python library and Pandas. A level 5 model is trained with at least two features, where one of the features begins as a categorical value (e.g. occupation, hometown, etc.). A level 4 uses external libraries like scikit or numpy.*

In [77]:
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [79]:
X = df2[["dis"]]
y = df2["ElimWeek"]

In [81]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [83]:
modl=LinearRegression()
modl.fit(X_train,y_train)

LinearRegression()

In [85]:
slope = modl.coef_[0]
intercept = modl.intercept_
print(slope, intercept)

0.0020569637494379394 3.012444987897643

### 3. Testing Your Model
In the cell seen below, write the code you need to test your linear regression model. 

*Note, a model is considered a level 5 if it achieves at least 60% prediction accuracy or achieves an RMSE of 2 weeks or less.*

In [2]:
# Test model here.

In [103]:
pre=modl.predict(X_test)

In [105]:
pre=[int(x) for x in pre]

In [107]:
y_test=list(y_test)

In [109]:
count = 0
for i in range(len(pre)):
    if pre[i] == y_test[i]:
        count =+ 1
print(count/len(pre))

0.006666666666666667

### 4. Final Answer

In the first cell seen below, state the name of your predicted winner. 
In the second cell seen below, justify your prediction using an evaluation technique like RMSE or percent accuracy.

#### State the name of your predicted winner here.

#### Justify your prediction here.